{% extends "base.html" %}

{% block body %}
<section class="header">
  <center>
 <h2 class="title">MetaTask</h2>
 </center>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <p><center>
      <form action="{% url 'lists:new_todolist' %}" method=post style="border-color: #000000;"> 
      </center></p>
        {% csrf_token %}
        <dl>
          <dd>{{ form }}
          <dt><center><input type="submit" class="button button-primary" value="Start one now" style="background-color: #000000;border-color: #000000;"></center>
          <dt><center><input type="submit" class="button button-primary" value="Join one now" style="background-color: #000000;border-color: #000000;"></center>
        </dl>
      </form>
    </div>
  </div>
</section>
{% endblock %}
